# Database env variables
DB_HOST=localhost    # Same as 127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password_of_the_database_user
DB_NAME=facefindr_db

# Clarify API env variables
CLARIFAI_API_KEY=your_clarify_api_key
CLARIFAI_USER_ID=clarifai
CLARIFAI_APP_ID=main
CLARIFAI_MODEL_ID=face-detection

PORT=3000